<!DOCTYPE html>
<html lang="en" ng-app="fbApp">

<head>
    <title>Connecting to Firebase</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js"></script>

    
    <script src="app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

<style>
#button{
    width:50px;
    height:50px;
    border:1px solid black;
    background-color:crimson;
}

</style>




</head>
<body ng-controller="SyncController">
<div class="container">
    <div class="page-header">
        <h1>Firebase</h1>
    </div>



<br>
<br>
<p>Tic Tac Toe</p>
<button ng-click="reset();" class="btn btn-primary btn-large">New Game</button> || <button ng-click="status()" class="btn btn-primary btn-large">Status</button> 

<br><br><br>
 
      <div class="well">
        <div><button class="btn-danger btn-lg" ng-repeat="cell in board[0]" ng-disabled="isDone(cell)" ng-click="move(cell)">{{cell.value }}</button>    
        </div>

         <div><button class="btn-danger btn-lg" ng-repeat="cell in board[1]" ng-disabled="isDone(cell)" ng-click="move(cell)" >{{ cell.value }}</button>    
        </div>

         <div><button class="btn-danger btn-lg" ng-repeat="cell in board[2]" ng-disabled="isDone(cell)" ng-click="move(cell)" >{{ cell.value }}</button>    
        </div>

      </div>
<br>
<br>




    
<form ng-submit="addPost()">
                  
    <div class="form-group">
    <label for="exampleInputEmail1">message</label>
    <textarea type="text" class="form-control" placeholder="Enter message" ng-model="message"></textarea>
    </div>

    <input class="btn btn-primary" type="submit" value="Post">
</form>


     <br>
     <br>


       <div class="well well-sm" ng-repeat="post in posts | orderBy:'-'">
                    <p class="lead">{{post.message}}</p>
                    <p class="text-right" am-time-ago="post.date"></p>
                    <a ng-click="removePost(post)">Remove</a>
                </div>           


</div>
</body>
</html>